/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.headerDiv {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  color: #ffffff;
}

.headerDescription {
  margin-bottom: 41px;
}

.storeBadge {
  margin-right: 10px;
  margin-left: 10px;
}

.headerImageDiv {
  /* top 속성을 보정 */
  height: 380px;
  text-align: center;
  position: relative;
  top: -180px;
}

.headerImage {
  position: relative;
  left: 22px;
}

/* 스타일 보정 */
.container {
  max-width: 800px !important;
}

.contentDiv {
  padding-top: 100px;
  padding-bottom: 75px;
}

.contentBackgroundColor {
  background-color: #F8F8F8;
}

.content1RMBadgeDiv {
  margin-bottom: 20px;
}

.textCategory {
  color: var(--ifm-color-primary);
  font-size: 16px;
  font-weight: 700;
}

.textPreLine {
  white-space: pre-line;
}

.textLightColor {
  color: #E0E0E0;
}

.textWODTitle {
  margin-top: 50px;
  margin-bottom: 75px;
}

.textLeaderboardTitle {
  margin-top: 50px;
  margin-bottom: 100px;
}

.text1RMTitle {
  margin-top: 50px;
  margin-bottom: 55px;
}

.imgBadge {
  margin: 0 5px 0 5px;
}

.footerDiv {
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;
}

.footerDescription {
  color: #828282;
}

/* 모바일 스타일을 오버라이드 */
@media only screen and (max-width: 768px) {
  .headerDiv {
    padding-bottom: 75px;
  }

  .headerImageDiv {
    display: none;
  }

  .textWODTitle {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .textLeaderboardTitle {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .text1RMTitle {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .contentUsabilityTextDiv {
    padding-top: 100px;
    padding-left: 20px;
  }

  .contentUsabilityImageDiv {
    padding-top: 50px;
  }

  .contentCalendarTextDiv {
    padding-top: 100px;
    padding-left: 20px;
  }

  .contentCalendarImageDiv {
    padding-top: 50px;
  }

  .contentSimilarityTextDiv {
    padding-top: 100px;
    padding-left: 20px;
  }

  .contentSimilarityImageDiv {
    padding-top: 50px;
  }
}