/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

/* 이미지 패딩을 감안해서 스타일링 */
.playStoreBadge {
  width: 140px;
  height: 60px;
  position: relative;
  bottom: -10px;
}

.headerDiv {
  text-align: center;
}

.headerImage {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroHeight {
  height: 95vh;
}